include includes/header

include includes/nav

div(class="content")
  div(class="row")
    div(class="offset-2 large-8 columns")
      blockquote "The length of this document defends it well against the risk of being read."
        cite Churchill


  div(class="row")
    div(class="offset-3 large-6 columns")
      h4 Some Article Title
      p An introduction to an article i haven't written yet..


include includes/footer

