
div(class="row header")
  div(class="large-6 columns")
    h1(class="logo") Risky Activities
  div(class="large-6 columns")
    ul(class="inline-list")
      li
        a(href="/") Home
      li
        a(href="/about/") About

